{% extends 'core/base.html' %}
{% block content %}

	<h1>About Page</h1>
	<br>
	<strong><h1>Welcome</h1></strong>

	<h2>{{ welcome.title }}</h1>
	<img src="{{ welcome.image.url }}" height=150>
	<p>{{ welcome.content|safe }}</p>
	<br>

	<strong><h1>History</h1></strong>

	<h2>{{ history.title }}</h1>
	<img src="{{ history.image.url }}" height=150>
	<p>{{ history.content|safe }}</p>
	<br>

	<b><h1>Teachers</h1></b>

	{% for teacher in teachers %}
		<img src="{{ teacher.photo.url }}" height=150>
		<a href="{% url 'teacher-detail' teacher.id %}"><h2>{{ teacher.name }}</h2></a>
		<p>{{ teacher.rank }}</p>
	{% endfor %}
	<br>

{% endblock content %}