{% extends 'core/base.html' %}
{% block content %}

	<h1 align="center">Album Detail</h1>
	<br>
	<h2 align="center">{{ object.title }}</h2>
	<div class="row">
	<div class="card-columns">
		{% for picture in object.images.all %}
		
			<!-- <div class="col-md-3">
				<div class="thumbnail rounded">
					<a href="{{ picture.image.url }}" data-toggle="lightbox" data-gallery="gallery">
						<img src="{{ picture.image.url }}" class="img-fluid rounded">
					</a>
				</div>
			</div> -->
			<!-- <div class="col-md-3"> -->
				<div class="card shadow rounded border-0">
					<!-- <img class="card-img-top rounded" src="{{ picture.image.url }}"> -->
					<a href="{{ picture.image.url }}" data-toggle="lightbox" data-gallery="gallery">
						<img src="{{ picture.image.url }}" class="card-img rounded" >
					</a>
				</div>
			<!-- </div> -->
		{% endfor %}
	</div>
	</div>

	
{% endblock content %}