{% extends 'core/base.html' %}
{% block content %}
	<br><br><br>

	<div class="container-fluid content-margin">
	<div class="row justify-content-center no-gutters">
		<!-- <div class="col-md-12">
			<h1 align="center">Welcome</h1>
		</div> -->
		<div class="col-lg-10">
			<div class=" mb-3 bg-white">
				<div class=" row no-gutters">
					<div class="col-lg-6">
						<div class="p-5">
						<div class="p-1 welcome-panel">
						{% for welcome in about %}
							{% if welcome.post_type == "welcome" %}
								<img src="{{ welcome.image.url }}" width=100% ><br><br>
								<h3>{{ welcome.title }}</h3>
								<span class="welcome-preview"><p>{{ welcome.content|safe|truncatewords_html:"45" }}</p></span>
								<div class="grey-link">
									<a href="{% url 'core-about' %}" class="welcome-preview"><u>Детальніше</u></a>
								</div>
							{% endif %}
						{% endfor %}
						</div>
						</div>
					</div>
					<div class="col-lg-6 event-panel">
						<div class="p-5">
						<div class="p-1">
							<div class="row no-gutters">
								<div class="col-lg-12">
									<b><h3>Оголошення</h3></b>
								</div>
								{% for post in events %}
									<div class="col-lg-12 event-preview">
										<span class="event-text"><p>{{ post.date_posted|date:"d F Y  G:i" }}</p></span>
										{{ post.title }}
										<span class="event-text"><p>{{ post.content|safe|truncatewords_html:"24" }}</p></span><p></p>
										<a href="{% url 'event-detail' post.id %}" >
											<button class="btn rounded-0 event-more-btn" >Read more</button>
										</a>
										<br>
										<br>
									</div>
								{% endfor %}
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	</div>



			<!-- <b><h1>Events</h1></b> -->
			<!-- {% for post in events %}
				<div class="col">
					<a href="{% url 'event-detail' post.id %}"><h4>{{ post.title }}</h4></a>
					<p>On {{ post.date_posted|date:"d F Y  G:i" }}</p>
					<p>{{ post.content|safe|truncatewords:"25" }}</p>
				</div>
			{% endfor %} -->
	

	
	<div class="container-fluid ">
	<div class="row  justify-content-center">
		<div class="col-lg-12">
			<h2 align="center" class="section-title">Новини</h2><br>
		</div>
		<div class="col-lg-11">
			{% for post in news %}
				<div class="  p-0 mb-3 bg-white news-preview">
					<a href="{% url 'news-detail' post.id %}">
					<div class="row no-gutters">
						<div class="col-lg-6">
							<img src="{{ post.image.url }}" width=100%><br>
						</div>
						<div class="col-lg-6">
							<div class="p-4">
								<p>{{ post.date_posted|date:"d F Y" }}</p>
								<h3>{{ post.title }}</h3>	
								<p>{{ post.content|safe|truncatewords:"35" }}</p>
							</div>
						</div>
					</div>
					</a>
				</div>
			{% endfor %}
		</div>

	</div>
	</div>
	

{% endblock content %}
