{% extends 'core/base.html' %}
{% block content %}

	<h1>Schedule Page</h1>

	<h3>Schedule</h3>
	{% for schedule in tables %}
		{% if schedule.table_type == 'general' %}
			<!--<div class="table-bordered">-->
			<div class="row">
				<a href="{{ schedule.table.url }}" data-toggle="lightbox" class="col-md-4">
					<img src="{{ schedule.table.url }}" class="img-fluid rounded">
				</a>
			</div>
				
			<!--</div>-->
			<br>
		{% endif %}
	{% endfor %}

	<h3>Extra Schedule</h3>
	{% for schedule in tables %}
		{% if schedule.table_type == 'extra' %}
			<div class="row">
				<a href="{{ schedule.table.url }}" data-toggle="lightbox" class="col-md-4">
					<img src="{{ schedule.table.url }}" class="img-fluid rounded">
				</a>
			</div>
			<br>
		{% endif %}
	{% endfor %}
	

{% endblock content %}