{% extends 'core/base.html' %}
{% block content %}

	<br>
	<div class="text-center">
		<img src="{{ object.photo.url }}" style="max-width: 40%;">
		<h3 class="mt-1">{{ object.name }}</h3>
		<p><b>• {{ object.rank }} •</b></p>
	</div>
	<p>{{ object.description|safe }}</p>
	{% if object.teacher_files.all %}
		<hr class="hr-yellow-download" align="left" >
		{% for link in object.teacher_files.all %}
			<a href="{{ link.file.url }}" class="link-icon link-icon-text">{{ link.name }}</a> <br>
		{% endfor %}
	{% endif %}
	<br>

{% endblock content %}